**Importing libraries**

In [1]:
import pandas as pd
import numpy as np
from math import sqrt
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

%autosave 1

Autosaving every 1 seconds

**Importing dataframe**

In [2]:
df = pd.read_csv("energydata_complete.csv")
df

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

**Question number 12**

Performing train test split with test size = 20 % of the data

In [3]:
x = (df['T2'].values).reshape(-1, 1)
y = df['T6']
x_train, x_test, y_train, y_test = train_test_split(
    x,
    y,
    test_size=0.2,
    random_state=0,
)

In [4]:
model_linearregressor = model = LinearRegression(n_jobs=-1)
model_linearregressor.fit(x_train, y_train)

LinearRegression(n_jobs=-1)

In [5]:
prediction = model_linearregressor.predict(x_test)
r2score_linearregressor = r2_score(y_test, prediction)
print(
    f"so the R2 score for linear regressor comes around {round(r2score_linearregressor, 2)} percent."
)

so the R2 score for linear regressor comes around 0.65 percent.

**Question number 13**

Prediction using LinearRegressor Model

In [6]:
feature_target = df.drop(['date', 'lights'], axis=1)

converting the data into min max scaling min max scaling converts the data from 0 to 1 values

In [7]:
scaler = MinMaxScaler()
scaled_df = pd.DataFrame(scaler.fit_transform(feature_target),
                         columns=feature_target.columns)

Setting appliances column as the target

In [8]:
x = scaled_df.drop(['Appliances'], axis=1)
y = scaled_df['Appliances']
x_train, x_test, y_train, y_test = train_test_split(x,
                                                    y,
                                                    test_size=0.3,
                                                    random_state=42)

In [9]:
model_linearregressor = LinearRegression(n_jobs=-1)
model_linearregressor.fit(x_train, y_train)

LinearRegression(n_jobs=-1)

In [10]:
prediction = model_linearregressor.predict(x_test)
mean_abs_error_for_linearregressor = mean_absolute_error(y_test, prediction)
print(
    f"So the mean absolute error comes to be {round(mean_abs_error_for_linearregressor, 2)}"
)

So the mean absolute error comes to be 0.05

**Question number 14**

In [11]:
def score(actual, prediction):
    return np.sum((actual - prediction)**2)


residual_sum_of_squares_for_linearregressor = score(y_test, prediction)

print(
    f"Hence the residual sum of squares for linear regressor is {round(residual_sum_of_squares_for_linearregressor, 2)}"
)

Hence the residual sum of squares for linear regressor is 45.35

**Question number 15**

In [12]:
mse_for_linearregressor = mean_squared_error(y_test, prediction)

root_mean_square_error_for_linearregressor = sqrt(mse_for_linearregressor)

print(
    f"Hence the root mean square error for linear regressor is {round(root_mean_square_error_for_linearregressor, 3)}"
)

Hence the root mean square error for linear regressor is 0.088

**Question number 16**

In [13]:
r2score_linearregressor = r2_score(y_test, prediction)
print(f"R2 score for linear regressor is {round(r2score_linearregressor, 2)}")

R2 score for linear regressor is 0.15

**Question number 17**

In [14]:
series = pd.Series(model_linearregressor.coef_, index=x.columns)
series.sort_values(inplace=True)

lowest_weight, highest_weight = series.index[0], series.index[-1]

print(f"Lowest weight for linear regressor is {lowest_weight}")
print(f"Highest weight for linear regressor is {highest_weight}")

Lowest weight for linear regressor is RH_2
Highest weight for linear regressor is RH_1

**Question number 18**

Prediction using Ridge Model

In [15]:
model_ridge = Ridge(alpha=0.4)
model_ridge.fit(x_train, y_train)

prediction = model_ridge.predict(x_test)

root_mean_square_error_for_ridge = sqrt(mean_squared_error(y_test, prediction))

print(
    f"Hence the root mean square error for ridge is {round(root_mean_square_error_for_ridge, 3)}"
)

Hence the root mean square error for ridge is 0.088

In [16]:
print(f"Yes linear and ridge models are same"
      if root_mean_square_error_for_ridge ==
      root_mean_square_error_for_linearregressor else
      f"NO linear and ridge models are not same")

NO linear and ridge models are not same

**Question number 19**

Prediction using Lasso Model

In [17]:
model_lasso = Lasso(alpha=0.001)
model_lasso.fit(x_train, y_train)
lasso_weight = pd.Series(model_lasso.coef_, index=x.columns)

In [18]:
print(
    f"The number of weights that are not zero is {len(lasso_weight[lasso_weight != 0])}"
)

The number of weights that are not zero is 4

**Question number 20**

In [19]:
prediction = model_lasso.predict(x_test)

root_mean_square_error_for_lasso = sqrt(mean_squared_error(y_test, prediction))

print(
    f"Hence the root mean squares for lasso is {round(root_mean_square_error_for_lasso, 3)}"
)

Hence the root mean squares for lasso is 0.094

****

Thank you

Akshay Satpute

ID: 147ccfd44e01f000